span.navbar-toggler-icon {
    background-image: url(/bootstrap-email-hudgens/menu-barS.svg);
}

#inbox {
    animation-name: inbox;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: black;
}

@keyframes inbox {
    from {
        background-color: #ff59c7;
    }

    to {
        background-color: white;
    }
}

.list-group.shadow.p-1.mb-2.bg-body-tertiary.rounded {
    background-color: rgba(175, 165, 165, 0.202);
}

nav {
    background-color: #ff94e128;
}

.btn.btn-primary.mt-3 {
    background-color: transparent;
    color: black;
}

span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-secondary {
    color: Black;
}
